/* Outer Container */
.edw-container {
  width: 100%;
  max-width: 1200px;
  margin: 20px auto;
  padding: 30px;
  background: linear-gradient(135deg, #f5f7fa, #c3cfe2);
  border-radius: 15px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  overflow: hidden; /* Disable both vertical and horizontal overflow */

}

/* Inner Container */
.inner-container {
  width: 100%;
  overflow-x: hidden; /* hide horizontal scroll */
  display: block;
  white-space: normal; /* allow block-level layout */
  padding-bottom: 12px;
  box-sizing: border-box;
}

/* Table Styling */
table {
  width: 100%;
  table-layout: fixed; /* distribute columns evenly */
  border-collapse: collapse;
  margin-bottom: 10px;
  font-size: 12px; /* smaller font to help fit content */
}

th, td {
  border: 1px solid #ddd;
  padding: 2px 2px; /* tighter padding for more compact layout */
  text-align: left;
  font-size: 7px;
  white-space: wrap; /* keep text on one line */
  overflow: hidden;
  max-width: 200px; /* controls box size */
}





th {
  background-color: #f0f0f0;
  color: #222;
}

tbody tr:nth-child(even) {
  background-color: #f0f0f0;
}

tbody tr:nth-child(odd) {
  background-color: #eaeaea;
}

tbody tr:hover {
  background-color: #e0e0e0;
}

/* Centering the Button */
.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

/* Glowing Button Style */
.button-85 {
  display: inline-block;
  margin: 20px;
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: #fff;
  background: linear-gradient(45deg, #ff6b6b, #f06595);
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  touch-action: manipulation;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transition: background 0.3s ease;
}

/* Hover Effect */
.button-85:hover {
  background: linear-gradient(45deg, #f06595, #ff6b6b);
}

/* Glowing Effect */
.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #00ffff,
    #00ff00,
    #ff00ff,
    #ff0000,
    #0000ff,
    #00ffff,
    #ff00ff,
    #00ff00,
    #00ffff
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 1.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: black;
  left: 0;
  top: 0;
  border-radius: 10px;
}

select, input[type="text"] {
  padding: 6px 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
}
