<div class="edw-container">
  <h1>Employee Data Warehouse (EDW)</h1>

  <!-- Inner Container for the Table -->
  <div class="inner-container" #innerContainer>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <!-- Project Name Column -->
      <ng-container matColumnDef="projectName">
        <th mat-header-cell *matHeaderCellDef> Project Name </th>
        <td mat-cell *matCellDef="let element"> {{element.projectName}} </td>
      </ng-container>

      <!-- Employee Name Column -->
      <ng-container matColumnDef="employeeName">
        <th mat-header-cell *matHeaderCellDef> Employee Name </th>
        <td mat-cell *matCellDef="let element"> {{element.employeeName}} </td>
      </ng-container>

      <!-- Project ID Column -->
      <ng-container matColumnDef="projectId">
        <th mat-header-cell *matHeaderCellDef> Project ID </th>
        <td mat-cell *matCellDef="let element"> {{element.projectId}} </td>
      </ng-container>

      <!-- Hours Worked Column -->
      <ng-container matColumnDef="hoursWorked">
        <th mat-header-cell *matHeaderCellDef> Hours Worked </th>
        <td mat-cell *matCellDef="let element"> {{element.hoursWorked}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

  <!-- Export to PDF Button Centered -->
  <div class="button-container">
    <button class="button-85" (click)="generatePDF()">Export to PDF</button>
  </div>
</div>
